@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Montserrat;
  user-select: none;
}
body {
  overscroll-behavior-y: contain;
  user-select: none;
}
.mainContainer::-webkit-scrollbar {
  display: none;
}

@keyframes caruselAnimation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@keyframes loadingAnimation {
  0% {
    stroke-dasharray: 0 900;
  }
  33% {
    stroke-dasharray: 28 900;
  }
  100% {
    stroke-dasharray: 0 900;
  }
}

.circlet {
  animation: 1s loadingAnimation infinite ease-in-out;
}
